SERVICE_NAME=cmsapp
USER_PORT=5111
ADMIN_PORT=5222
REDIS_URI=redis://127.0.0.1:6379
CORTEX_REDIS=redis://127.0.0.1:6379
CORTEX_PREFIX=yourCortexPrefix
CORTEX_TYPE=yourCortexType
OYSTER_REDIS=redis://127.0.0.1:6379
OYSTER_PREFIX=yourOysterPrefix
CACHE_REDIS=redis://127.0.0.1:6379
CACHE_PREFIX=yourCachePrefix
MONGO_URI=mongodb://127.0.0.1:27017/yourdatabase
NACL_SECRET=yourNaclSecret
ENV=development